.button {
  font-weight: 600;
  background-color: #2dcb30;
  color: #ffffff;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;

  height: 4.8rem;

  &--create {
    padding: 1.2rem 2.4rem;
    width: 30rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 2.4rem;
    }

    @media (max-width: 500px) {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      width: auto;
    }
  }

  &--download-order {
    padding: 1.2rem 2.4rem;
    // width: 30rem;
    height: 4.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;

    @media (max-width: 500px) {
      font-size: 1.3rem;
      padding: 1rem 1rem;
      width: auto;
      gap: 0.8rem;
    }

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 500px) {
        width: 2rem;
      }
    }
  }

  &--add-btn {
    padding: 1.2rem 0.8rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    width: 16rem;

    @media (max-width: 500px) {
      flex-direction: column;
      width: initial;
    }

    & span {
      @media (max-width: 500px) {
        display: none;
      }
    }

    & svg {
      display: block;
      width: 2.4rem;
    }
  }

  &--create-default {
    font-weight: 600;
    color: #a3a3a3;
    background-color: #e6e6e6;
    padding: 0.8rem 1.2rem;

    width: 30rem;
  }

  &--apply {
    padding: 0.8rem 1.2rem;
    width: 18rem;
  }

  &--cancel {
    padding: 0.8rem 1.2rem;
    color: #1f1f1f;
    background-color: #ffffff;
    width: 18rem;
  }

  &--add-service {
    padding: 1.2rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 2.4rem;
    }
  }

  &--log {
    background-color: #d8d8d8;
    color: #a3a3a3;

    width: 40rem;
    height: 5.6rem;
  }

  &--setting-btn {
    font-weight: 600;
    color: #1f1f1f;
    background-color: #e6e6e6;
    border-radius: 4px;
    padding: 4px 0.8rem;

    width: 12rem;
    height: 3.2rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    @media (max-width: 490px) {
      font-size: 1.4rem;
    }

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 490px) {
        width: 2rem;
      }
    }
  }

  &--overview {
    background: none;
    color: #808080;
    padding: 0rem 0.8rem;
    border-radius: 0rem;

    height: 2.4rem;

    @media (max-width: 490px) {
      font-size: 1.4rem;
    }

    &--active {
      border-bottom: 2px solid #2dcb30;
      color: #1f1f1f;
    }
  }

  &--view-transaction {
    background-color: #ffa800;
    border-radius: 4px;
    padding: 0.8rem 2.4rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 375px) {
        width: 2rem;
      }
    }

    @media (max-width: 500px) {
      padding: 5px 2rem;
      font-size: 1.4rem;
    }

    @media (max-width: 375px) {
      padding: 0px 1.5rem;
    }
  }

  &--view-renew-btn {
    background-color: #ffffff;
    color: #2dcb30;
    border-radius: 4px;
    padding: 0.8rem 2.4rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    @media (max-width: 500px) {
      padding: 0.8rem;
      font-size: 1.4rem;
    }

    @media (max-width: 375px) {
      padding: 0px 1.5rem;
    }

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 375px) {
        width: 2rem;
      }
    }
  }

  &--set-price-btn {
    color: #25a727;
    background: none;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 2.4rem;
    }
  }

  &--cancel-deactivate {
    font-weight: 600;
    color: #1f1f1f;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1.2rem 0.8rem;
    width: 27rem;
  }

  &--deactivate {
    padding: 1.2rem 0.8rem;
    background-color: #dd3c3c;
    border-radius: 4px;
    width: 27rem;
  }

  &--active {
    font-size: 1.4rem;
    border-radius: 2.4rem;
    padding: 6px 1.6rem;
    height: auto;

    @media (max-width: 400px) {
      font-size: 1rem;
      padding: 4px 0.8rem;
    }
  }

  &--edit {
    padding: 1.2rem 2.4rem;

    display: flex;
    align-items: center;
    gap: .8rem;
  }
}

.user-btns {
  font-weight: 600;
  border: none;
  border-radius: 4px;
  color: #ffffff;

  display: flex;
  align-items: center;
  gap: 1.6rem;

  white-space: nowrap;

  @media (max-width: 980px) {
    order: 1;
  }

  @media (max-width: 430px) {
    gap: 0.8rem;
    font-size: 1.3rem;
    width: 100%;
  }

  & svg {
    display: block;
    width: 2.4rem;

    @media (max-width: 430px) {
      width: 2rem;
    }
  }

  &--block-btn {
    background-color: #dd3c3c;
    padding: 0.8rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 430px) {
      // padding: 6px 1rem;
      justify-content: center;
    }

    @media (max-width: 335px) {
      padding: 4px 1rem;
    }
  }

  &--flag-btn {
    background-color: #ffa800;
    padding: 0.8rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 430px) {
      padding: 6px 1rem;
      justify-content: center;
    }

    @media (max-width: 335px) {
      padding: 4px 1rem;
    }
  }

  &--unverify-btn {
    background-color: #2080df;
    padding: 0.8rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 430px) {
      padding: 6px 1rem;
      justify-content: center;
    }

    @media (max-width: 335px) {
      padding: 4px 1rem;
    }
  }

  &--temp-btn {
    background-color: #2080df;
    padding: 1.2rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 500px) {
      font-size: 1.4rem;
      gap: 4px;
      padding: 0.8rem 2.4rem;
      flex-direction: column;

      width: 100%;
    }
  }

  &--perm-btn {
    background-color: #ffa800;
    padding: 1.2rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 500px) {
      font-size: 1.4rem;
      gap: 4px;
      padding: 0.8rem 2.4rem;
      flex-direction: column;

      width: 100%;
    }
  }

  &--delete-btn {
    background-color: #dd3c3c;
    padding: 1.2rem 2.4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 500px) {
      font-size: 1.4rem;
      gap: 4px;
      padding: 0.8rem 2.4rem;
      flex-direction: column;

      width: 100%;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media (max-width: 500px) {
      flex-direction: row;
    }
  }
}

.btn-menus {
  border-radius: 0.8rem;
  background-color: #ffffff;
  padding: 0.8rem;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.8rem;

  @media (max-width: 1300px) {
  }

  &__sm {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 0.8rem;

    display: flex;
    align-self: flex-start;
    gap: 0.8rem;
    flex-wrap: wrap;

    @media (max-width: 500px) {
      width: auto;
    }
  }

  &__btn-type {
    color: #4d4d4d;
    background: none;
    border-radius: 4px;
    border: none;
    padding: 0.8rem 2.4rem;
    cursor: pointer;

    white-space: nowrap;

    @media (max-width: 520px) {
      font-size: 1.4rem;
      padding: 5px 1.5rem;
    }

    &--active {
      font-weight: 600;
      color: #ffffff;
      background-color: #2dcb30;

      &:hover {
        color: #ffffff;
        background-color: #2dcb30 !important;
      }

      @media (max-width: 430px) {
        font-size: 1.4rem;
        padding: 5px 1.5rem;
      }
    }

    &:hover {
      background-color: #eefbef;
    }
  }

  &__divider {
    border: 1px solid #e6e6e6;
    height: 3rem;
  }
}

.user-btn {
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 2px;
  color: #ffffff;
  border: none;
  padding: 0.8rem 1rem;

  display: block;
  width: 8rem;

  &--unverified {
    background-color: #ffa800;
  }

  &--verified {
    background-color: #2dcb30;
  }

  &__disable-btn {
    font-weight: 600;
    color: #ffa800;
    background-color: #ffffff;
    border: 1px solid #ffa800;
    border-radius: 4px;
    padding: 1.6rem;

    cursor: pointer;
  }

  &__filter {
    margin-top: auto;

    @media (max-width: 1090px) {
      align-self: flex-start;
    }
  }
}

.transaction-btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
  border: none;
  padding: 6px 1.2rem;

  display: block;
  width: 10rem;

  &--success {
    background-color: #2dcb30;
  }

  &--failed {
    background-color: #dd3c3c;
  }

  &--pending {
    background-color: #ffa800;
  }
}

.event-btn {
  font-size: 1.3rem;
  font-weight: 600;
  color: #ffffff;
  border-radius: 4px;
  padding: 6px 1.2rem;
  border: none;

  display: block;
  width: 10rem;

  justify-content: center;

  &--approved {
    background-color: #2dcb30;
  }

  &--pending {
    background-color: #ffa800;
  }

  &--rejected {
    background-color: #dd3c3c;
  }

  &--published {
    background-color: #2080df;
  }

  &--closed {
    background-color: #a6a6a6;
  }

  &--closed-light {
    background-color: #bdbdbd;
  }
}
