.form {
  //   width: 100%;
  width: 56rem;
  height: 4.8rem;

  &__default-input {
    color: #4d4d4d;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    gap: 0.8rem;
  }

  &__default-white {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.6rem;
  }

  &__ranking-input {
    color: #4d4d4d;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__user-input {
    // width: 48rem;
    height: 4.8rem;

    background-color: #ffffff;
    border: 1.5px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      display: block;
      width: 2.4rem;
    }

    input {
      width: 30rem;
      background-color: transparent;
      border: none;
      padding: 1.2rem 1.6rem 1.2rem 0rem;
      font-weight: 300;

      &:focus {
        outline: transparent;
      }

      ::placeholder {
        color: #a3a3a3;
      }
    }

    &--user-default {
      color: #a3a3a3;
      background-color: #e6e6e6;
    }
  }

  &__sort-input {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1.2rem 0.8rem;

    width: 31rem;

    display: flex;
    gap: 0.8rem;
  }
}
