.form {
  width: 100%;
  // height: 4.8rem;

  &__default-input {
    color: #4d4d4d;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    gap: 0.8rem;

    &--md {
      display: block;
    }
  }

  &__default-input-apply {
    color: #4d4d4d;
    background-color: #f2f2f2;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;
  }

  &__default-white {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.6rem;
  }

  &__ranking-input {
    color: #4d4d4d;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    & svg {
      display: block;
      width: 2.4rem;
    }
  }

  &__user-input {
    height: 4.8rem;

    background-color: #ffffff;
    border: 1.5px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      display: block;
      width: 2.4rem;
    }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      padding: 1.2rem 1.6rem 1.2rem 0rem;
      font-weight: 300;

      &:focus {
        outline: transparent;
      }

      ::placeholder {
        color: #a3a3a3;

        @media (max-width: 980px) {
          font-size: 1.4rem;
        }

        @media (max-width: 350px) {
          font-size: 1.2rem;
        }
      }
    }

    &--user-default {
      color: #a3a3a3;
      background-color: #e6e6e6;
    }

    &--percent-default {
      color: #a3a3a3;
      background-color: #f7f8f8;
      border: 1px solid #e6e6e6;
      border-radius: 0.8rem;

      &:focus {
        outline: transparent;
      }
    }

    &--push-default {
      // color: #a3a3a3;
      // background-color: #f7f8f8 !important;
    }
  }

  &__sort-input {
    background-color: #ffffff;
    border-radius: 4px;
    padding: 1.2rem 0.8rem;

    width: 100%;

    display: flex;
    gap: 0.8rem;
  }

  &__auth-mail {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.6rem;

    width: 100%;

    display: flex;
    align-items: center;
    gap: 1.8rem;

    &__svg {
      display: block;
      width: 2.4rem;
    }

    input {
      width: 100%;
      background-color: transparent;
      border: none;
      // padding: 1.2rem 0rem;
      font-weight: 300;

      &:focus {
        outline: transparent;
      }

      ::placeholder {
        color: #a3a3a3;
      }
    }
  }

  &__user-info-bg {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 1.6rem;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__input-select-text {
    color: #a3a3a3;
  }

  &__text-input {
    font-size: 1.6rem;
    color: #808080;
    white-space: nowrap;
  }

  &__user-textnote {
    background-color: #ffffff;
    border-radius: 0.8rem;
    border: 1.5px solid #e6e6e6;
    padding: 1.2rem 1.6rem;

    textarea {
      width: 100%;
      height: 20rem;
      border: none;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: #a3a3a3;
        font-size: 1.8rem;
      }
    }
  }

  &__form-input {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__grid-form-bg {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 1.6rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;

    @media (max-width: 430px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__grid-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.6rem;

    @media (max-width: 430px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__select {
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
  }

  &__characters {
    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__min-characters {
    display: flex;
    align-items: center;
    gap: 4px;

    & p {
      font-size: 1.2rem;
      color: #444444;
    }

    & svg {
      display: block;
      width: 1.6rem;
    }
  }
}

.switch {
  appearance: none;

  display: block;
  width: 26px;
  padding: 3px;

  border-radius: 10rem;
  background-color: #a3a3a3;
  cursor: pointer;

  position: relative;

  &:focus {
    outline: 2px solid #2dcb30;
    outline-offset: 2px;
  }

  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;

    transition: all 0.3s;
  }

  &:checked {
    background-color: #448c04;

    &::after {
      transform: translate(100%);
    }
  }
}
