table {
  width: 100%;
  border-collapse: collapse;

  & tbody tr {
    background-color: #ffffff;
    border-radius: 4px;

    &:not(:last-child) {
      border-bottom: 4px solid #f7f8f8;
    }
  }

  & tbody td {
    padding: 1.4rem 1.8rem 1.4rem 0rem;
  }

  & thead th,
  & tbody td {
    white-space: nowrap;
    padding-right: 2.4rem !important;
  }

  & tbody td:first-child {
    padding-left: 1.8rem;
  }
}

thead,
th {
  font-size: 1.4rem;
  font-weight: 700;
  color: #808080;
  text-align: left;

  padding-bottom: 1.6rem;

  @media (max-width: 980px) {
    font-size: 1.2rem;
  }
}

.td-user-info {
  &__user-details {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__user-img {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & img {
      display: block;
      width: 4rem;
    }

    &__user-navigate {
      color: #4d4d4d;
    }
  }

  &__name-mail {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & span {
      font-size: 1.2rem;
      color: #a6a6a6;
    }
  }

  &__user-status {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 12px;
    }
  }

  &__reg-date {
    font-size: 1.4rem;
    color: #a6a6a6;

    display: flex;
    align-items: center;
    gap: 4px;

    @media (max-width: 980px) {
      font-size: 1.2rem;
    }
  }

  &__date-divider {
    border: 1px solid #a6a6a6;
    height: 1.5rem;
    width: 0;
  }

  &__action-icons {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    & svg {
      display: block;
      width: 2.4rem;
      cursor: pointer;
    }
  }

  &__cancel {
    font-weight: 600;
    color: #dd3c3c;
    cursor: pointer;
  }
}
