.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #f7f8f8;
  margin: 15% auto;
  padding: 20px;

  flex-shrink: 0;
  border-radius: 0.5rem;
  width: 500px;
  height: 650px;

  .icon {
    display: inline-flex;
    align-items: center;
  }
  .icon svg {
    margin-right: 1rem;
  }
  .icon-right {
    display: inline-flex;
    align-items: center;
  }
  .icon-right svg {
    margin-left: 1rem;
  }
  .right {
    text-align: right;
    color: #1f1f1f;
  }
  .mt-1 {
    margin: 5rem 0rem 1rem 0rem;
  }

  & table {
    color: #808080;
    line-height: 4rem;
    white-space: nowrap;
  }
  & table .header {
    color: #1f1f1f;
    background: #fff;
    height: 80px;
    padding: 1rem;
    line-height: 2rem;
    border-radius: 1rem;
    padding: 80px;
  }
  & table .header img {
    margin-right: 15px;
  }
  .top {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  & table .header p span {
    display: block;
    font-size: 1.2rem;
    color: #808080;
  }
  & td {
    background: none;
    padding: 8px;
  }
  & td span {
    color: #25a727;
  }

  & tr {
    background: none;
  }
  & th {
    color: #4d4d4d;
    border-radius: 0.8rem;
    padding: 1.4rem;
    margin-bottom: 0.8rem;
  }
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.divider {
  border-bottom: 1px solid #e6e6e6;
  margin: 0rem 0rem 3rem 0rem;
}
.txn-details-sort{
  display: none;
}
.user-details__details-btns {
  // overflow: auto;
  // white-space: nowrap;
  // background-color: #ffffff;
}

@media screen and (max-width: 52em) {
  html,
  body {
    // overflow-x: hidden;
  }

  .txn-details {
    padding: 0rem 0.5rem;
    flex-wrap: wrap;

    &-body {
      display: grid;
      grid-template-columns: 24rem 1fr 1fr;
      gap: 0.8rem;
      margin-top: 4rem;
    }
   
    &-search {
      width: 24rem;
      padding: 1.2rem 5rem 1.2rem 0rem;
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
      & svg {
        position: absolute;
        margin-left: 20rem;
      }
    }
    &-sort {
      padding: 0.4rem;
      display: flex;
      justify-content: center;
    }
  }
  
  .user-details__details-type-txn{
    grid-template-columns: 1fr;
  }
  .user-details__details-main {
    padding: 0rem 0.5rem;
  }

  .txn-table {
    overflow: scroll;
  }
  p {
    white-space: nowrap;
  }
  .user-details__entries-page {
    display: block;
    margin: auto;
  }
  .user-details__show-entries {
    justify-content: center;
    margin-bottom: 1rem;
  }

  .modal-content {
    width: 380px;
    height: 550px;
    padding: 12px;

    & table {
      line-height: 2.3rem;
      white-space: nowrap;
    }
    & table .header {
      line-height: 2rem;
    }
  }

  #modal-btn {
    position: absolute;
    width: 25rem;
    height: 42px;
    right: 2.2rem;
    top: 13rem;
    padding: 1.2rem 1rem;
  }
}
