.user-details {
  padding: 1.6rem;

  max-width: 1512px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  @media (max-width: 980px) {
    padding: 2.4rem;
  }

  @media (max-width: 500px) {
    padding: 1.6rem;
  }

  &__details-main {
    padding: 0rem 4.8rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 980px) {
      padding: 0rem;
    }
  }

  &__info-menus {
    width: 100%;
  }

  &__details-type {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1.6rem;

    @media (max-width: 1040px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  &__details-type-cashin {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;

    width: 820px;

    @media (max-width: 1090px) {
      width: 100%;
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  &__details-type-event {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.6rem;

    @media (max-width: 980px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 650px) {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;
    }
  }

  &__details-menus {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 1.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 1040px) {
      // width: 100%;
    }

    & svg {
      display: block;
      width: 4rem;

      @media (max-width: 430px) {
        width: 3.2rem;
      }
    }
  }

  &__details-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & p {
      font-size: 1.2rem;
      font-weight: 700;
      color: #808080;
    }

    & span {
      font-size: 1.8rem;
      font-weight: 600;
      color: #1f1f1f;

      @media (max-width: 430px) {
        font-size: 1.4rem;
      }
    }
  }

  &__details-body {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    & a {
      text-decoration: none;
    }
  }

  &__table-user {
    @media (max-width: 900px) {
      overflow-x: scroll;
    }
  }

  &__details-btns {
    display: flex;
    justify-content: space-between;

    @media (max-width: 980px) {
      flex-direction: column;
      // align-items: center;
      gap: 2.4rem;
    }
  }

  &__details-btns-colored {
    display: flex;
    justify-content: flex-end;
  }

  &__details-btn-cashin {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1090px) {
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__details-btns-history {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1020px) {
      flex-direction: column;
      gap: 2.4rem;
    }
  }

  &__user-infos {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 2.4rem;

    display: flex;
    gap: 5.6rem;

    @media (max-width: 1400px) {
      flex-direction: column;
    }
  }

  &__user-infos-bank {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 2.4rem;

    display: flex;
    gap: 5.6rem;

    @media (max-width: 925px) {
      flex-direction: column;
    }
  }

  &__user-bank-logo {
    @media (max-width: 925px) {
      display: flex;
      justify-content: center;
    }
  }

  &__user-infos-mobile {
    display: none;

    @media (max-width: 1150px) {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      gap: 0.8rem;
    }
  }

  &__user-img {
    display: block;
    width: 24rem;

    @media (max-width: 500px) {
      width: 15rem;
    }
  }

  &__user-login {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 1400px) {
      align-items: center;
    }

    @media (max-width: 1150px) {
      display: none;
    }
  }

  &__user-login-mobile {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }

  &__login-details {
    background-color: #fff6e4;
    border-radius: 4px;
    padding: 1.2rem 1.6rem;

    // height: 7.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
    color: #808080;
  }

  &__login-text {
    font-size: 1.2rem;
  }

  &__login-time {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    font-weight: 600;
  }

  &__login-divider {
    border: 1px solid #1f1f1f;
    height: 2rem;
    width: 0;
  }

  &__infos-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    @media (max-width: 1150px) {
      display: block;
    }
  }

  &__infos-details-bank {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    width: 100%;

    @media (max-width: 665px) {
      flex-direction: column;
      gap: 3.2rem;
    }
  }

  &__user-form-details {
    display: grid;
    grid-template-columns: 56rem 56rem;
    gap: 4rem;

    @media (max-width: 1150px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 680px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__user-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__user-form-bank {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    width: 100%;
    max-width: 50rem;

    @media (max-width: 665px) {
      max-width: 100%;
    }
  }

  &__user-name {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__user-name-text {
    font-size: 1.2rem;
    color: #808080;
  }

  &__user-search {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    border-radius: 0.8rem;
    padding: 1.2rem 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 4.8rem;

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 410px) {
        width: 2rem;
      }
    }
  }

  &__user-search-type {
    display: grid;
    grid-template-columns: 70fr 30fr;
    gap: 2.4rem;

    @media (max-width: 410px) {
      grid-template-columns: 30fr 30fr;
      gap: 1.8rem;
    }
  }

  &__entries-page {
    display: flex;
    justify-content: space-between;

    @media (max-width: 490px) {
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
    }
  }

  &__show-entries {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__show-num {
    font-size: 1.2rem;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 0.8rem 1.2rem;

    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media (max-width: 490px) {
      padding: 2px 1rem;
      gap: 1rem;
    }

    & svg {
      display: block;
      gap: 2.4rem;

      @media (max-width: 490px) {
        width: 2rem;
      }
    }
  }

  &__show-pages {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  &__prev-page {
    font-size: 1.4rem;

    display: flex;
    align-items: center;
    gap: 0.8rem;
  }

  &__page-num {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & p {
      // font-size: 1.2rem;
      border: 1px solid #e6e6e6;
      border-radius: 4px;
      background-color: #ffffff;
      padding: 0.8rem 1.2rem;
    }
  }

  &__edit-btn {
    font-weight: 600;
    color: #2dcb30;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 2.4rem;
    }

    @media (max-width: 1150px) {
      display: none;
    }
  }

  &__edit-btn-mobile {
    display: none;

    @media (max-width: 1150px) {
      font-weight: 600;
      color: #2dcb30;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 0.8rem;

      & svg {
        display: block;
        width: 2.4rem;
      }
    }
  }

  &__user-table {
    display: grid;
    grid-template-columns: 40rem 1fr;

    @media (max-width: 1155px) {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }

    & a {
      color: #1f1f1f;

      &:active {
        color: #1f1f1f;
      }
    }
  }

  &__event-type {
    font-weight: 600;
    padding: 1.6rem;

    &--active {
      color: #ffffff;
      background-color: #2dcb30;
    }

    @media (max-width: 430px) {
      padding: 1.2rem;
    }
  }

  &__event-purchases {
    @media (max-width: 1155px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.user-services {
  // display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media (max-width: 1220px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 760px) {
    display: flex;
    flex-direction: column;
  }

  &__services-info {
    background-color: #ffffff;
    padding: 2.4rem;

    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    @media (max-width: 410px) {
      padding: 1.6rem;
    }
  }

  &__service-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg {
      display: block;
      width: 3rem;
    }
  }

  &__heading-text {
    font-size: 2rem;
    font-family: "Tango Sans";
    color: #176819;
  }

  &__service-type {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__service-name {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding-bottom: 0.8rem;
    border-bottom: 1px solid #f2f2f2;

    @media (max-width: 410px) {
      grid-template-columns: 0.6fr 1fr;
    }
  }

  &__service-text {
    font-weight: 600;
    color: #808080;

    & span {
      font-size: 1.2rem;
      font-weight: 700;
      border: 1px solid #2dcb30;
      padding: 0.8rem;
    }
  }

  &__service-amount {
    background-color: #eafaea;
    padding: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      font-weight: 600;
    }
  }

  &__service-span {
    font-size: 1.4rem;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 4px;

    padding: 6px 10px;

    @media (max-width: 410px) {
      font-size: 1.2rem;
      padding: 5px 0.8rem;
    }

    &--green {
      background-color: #0ac243;
    }

    &--orange {
      background-color: #ef761e;
    }
  }

  &__services-card-type {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__service-amount-ng {
    background-color: #eafaea;
    padding: 1.2rem;

    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & span {
      font-size: 1.3rem;
      color: #808080;
    }

    & p {
      font-weight: 600;
    }
  }

  &__total-referal {
    font-size: 1.2rem;
    font-weight: 700;
    border: 1px solid #2dcb30;
    padding: 0.8rem;
  }

  &__service-referals {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &__referal-copy-btn {
    background-color: #eafaea;
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;

    width: 10.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    @media (max-width: 410px) {
      padding: 5px 1rem;
      width: 8rem;
    }

    & svg {
      display: block;
      width: 2.4rem;

      @media (max-width: 410px) {
        width: 2rem;
      }
    }
  }
}

.user-note {
  background-color: #ffffff;
  border-radius: 0.8rem;
  padding: 2.4rem;

  height: 60rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__notes-top {
    display: flex;
    gap: 2.4rem;
  }

  &__note-texts {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  &__note-text-msg {
    font-style: italic;
    color: #4d4d4d;
  }

  &__note-time-date {
    display: flex;
    align-items: center;
    gap: 4px;

    & svg {
      display: block;
      width: 1.2rem;
    }

    & p {
      font-size: 1.3rem;
    }
  }

  &__note-date {
    display: flex;
    align-items: center;
    gap: 4px;

    & p {
      font-size: 1.4rem;
      color: #a6a6a6;
    }
  }

  &__text-area {
    border: 1.5px solid #4d4d4d;
    border-radius: 0.8rem;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    @media (max-width: 500px) {
      gap: 2.4rem;
    }
  }

  textarea {
    width: 100%;
    height: 50px;
    border: none;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #bdbdbd;
    }
  }

  &__add-note-btn {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 2.4rem;

    & svg {
      display: block;
      width: 2.4rem;
    }
  }

  &__add-btn {
    width: 16rem;

    display: flex;
    align-items: center;
    justify-self: center;
    gap: 0.8rem;

    & svg {
      width: 2.4rem;
    }
  }
}

.user-side-table {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__card-heading {
    font-size: 1.4rem;
    font-weight: 700;
    color: #808080;
  }

  &__card-transaction {
    padding: 1.6rem;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #e6e6e6;

    @media (max-width: 1155px) {
    }

    &--active {
      color: #ffffff;
      background-color: #2dcb30;

      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
    }
  }

  &__card-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__card-type {
    font-size: 1rem;
  }

  &__card-typee {
    font-size: 1rem;
    text-align: end;
  }

  &__card-num {
    font-weight: 600;
  }

  &__card-amount {
    font-weight: 600;
    color: #25a727;
  }
}

.services-section {
  &__service-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
  }

  &__overview-btns {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media (max-width: 330px) {
      gap: 0.8rem;
    }
  }

  &__transactions {
    background-color: #ffffff;
    padding: 4rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    @media (max-width: 980px) {
      display: flex;
      flex-direction: column;

      padding: 2.4rem;
    }

    @media (max-width: 500px) {
      gap: 2.4rem;
      padding: 1.2rem;
    }
  }

  &__transactions-part {
    background-color: #f7f8f8;
    border-radius: 0.8rem;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__text {
    font-size: 1.6rem;
  }

  &__transactions-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__transactions-details {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__details-menus {
    background-color: #ffffff;
    border-radius: 0.8rem;
    padding: 2.4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 500px) {
      padding: 1.8rem;
    }

    & svg {
      display: block;
      width: 4rem;

      @media (max-width: 500px) {
        // width: 2.8rem;
      }
    }
  }

  &__details-info {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    & p {
      font-size: 1.3rem;
      font-weight: 700;
      color: #808080;
    }

    & span {
      font-size: 1.8rem;
      font-weight: 600;
    }
  }

  &__auto-renew {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__auto-renew-details {
    background-color: #f7f8f8;
    border-radius: 0.8rem;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__service-status {
    display: flex;
    align-items: center;
    gap: 0.8rem;

    & svg {
      display: block;
      width: 1.2rem;
    }
  }

  &__status-text {
    font-weight: 400;
  }

  &__transactions-view {
    background-color: #ffffff;
    padding: 1.6rem;
  }

  &__view-details {
    background-color: #f7f8f8;
    border-radius: 0.8rem;
    padding: 1.6rem;

    display: flex;
    flex-direction: column;
    gap: 2.4rem;

    @media (max-width: 490px) {
      gap: 2rem;
    }
  }

  &__view-heading {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    @media (max-width: 490px) {
      gap: 1.4rem;
    }

    & p {
      font-size: 1.8rem;
      font-weight: 600;
      color: #1f1f1f;
    }

    & svg {
      display: block;
      width: 2.4rem;
    }
  }
}

// style for modal

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #1a1a1a, $alpha: 0.5);
  z-index: 9999;
  cursor: pointer;
  backdrop-filter: blur(3px);

  &.hidden {
    display: none;
  }
}

.modal-create {
  background-color: #f7f8f8;
  border-radius: 0.8rem;
  padding: 3rem 3rem 6.6rem;

  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  pointer-events: none;

  display: flex;
  flex-direction: column;

  width: 62rem;
  max-width: calc(100% - 4.8rem);

  z-index: 99999;

  &.open {
    transform: translate(-50%, -50%);
    pointer-events: all;
  }

  &__sort {
    width: 50rem;
  }

  &__close-btn {
    background: none;
    border: none;

    display: flex;
    justify-content: flex-end;

    & svg {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
  }

  &__modal-body {
    padding: 0rem 4.8rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__modal-details {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  &__header {
    font-size: 2.4rem;
    font-family: "Tango Sans";
    text-align: center;
  }

  &__header-text {
    font-size: 2.4rem;
    font-family: "Tango Sans";
    border-bottom: 1px solid #e6e6e6;
    padding: 0.8rem 2.4rem;
  }

  &__sub-header {
    color: #808080;
    text-align: center;

    & span {
      color: #dd3c3c;
    }
  }

  &__user-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__user-sort-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  &__create-btn {
    display: flex;
    justify-content: center;
  }

  &__confirm-btn {
    display: flex;
    align-items: center;
    gap: 2.4rem;
  }

  &__user-link {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__reset-link {
    font-weight: 600;
    color: #dd3c3c;
  }
}

.modal-deactivate {
  background-color: #f7f8f8;
  border-radius: 0.8rem;
  padding: 3rem 0rem 6.6rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  pointer-events: none;

  display: flex;
  flex-direction: column;

  width: 66rem;
  max-width: calc(100% - 4.8rem);

  z-index: 99999;

  &.open {
    transform: translate(-50%, -50%);
    pointer-events: all;
  }

  &__sort {
    width: 50rem;
  }

  &__close-btn {
    background: none;
    border: none;
    padding: 0rem 2.4rem;

    display: flex;
    justify-content: flex-end;

    & svg {
      display: block;
      width: 2.4rem;
      height: 2.4rem;
      cursor: pointer;
    }
  }

  &__deactivate-body {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  &__user-form {
    padding: 1.2rem 2.4rem 0rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &__create-btn {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
  }
}
